@-moz-document url-prefix("https://www.google.com/search") {
    /* ==UserStyle==
    @name         Google 2014 Row - Lego Savant's Old Google 2014 Google Search Filters fix
    @description  A fix for Old Google 2014 to be used with 2014 Row theme for Bruni's Google Search Filters userScript.
    @author       @angelbruni
    @namespace    https://github.com/brunobits/Google-Search-Filters-userScript-Themes
    @version      1.0
    ==/UserStyle== */

    #bruniSidebarContainer {
        top: 62px !important;
    }

    #yDmH0d #bruniSidebarContainer {
        padding-left: 111px;
    }

    #bruniFiltersMoreContainer {
        left: calc(var(--center-abs-margin) + 394px);
        top: calc(var(--filters-top) + 30px);
    }

    #yDmH0d #bruniFiltersMoreContainer {
        top: calc(62px + 48px) !important;
        left: calc(400px + 111px);
    }
    
    #hdtb {
        display: none;
    }
    
    .ndYZfc {
        border-bottom: 0;
    }
}
